.DateAndPrice{
    display: flex;
    justify-content: space-between;
}

.Content{
    display: flex;
    justify-content: space-between;
}
.Emoji{
    font-size: 2.5em;
}
.EmojiAndDescription{
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}
.DescriptionAndDate{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.PriceDelete{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}







