@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #31363F;
}

@media (max-width: 768px) {
    .App {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
  
    .App .flex-grow,
    .App header,
    .App footer {
      width: 100%;
      max-width: none; 
    }
  
    .App header,
    .App footer {
      margin-left: auto; 
      margin-right: auto; 
    }
  
    .App footer {
      margin-top: 20px; 
    }
  }
 
  @media (min-width: 769px) {
    .App {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100vh;
    }
  
    .App .flex-grow {
      max-width: 600px; 
      width: 100%;
      padding: 20px;
    }
  
    .App header,
    .App footer {
      max-width: 600px; 
      width: 100%;
      margin-left: auto; 
      margin-right: auto; 
    }
  
    .App footer {
      margin-top: 20px;
    }
  }
  